html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transition: transform .5s, font-size .3s 0s, background .5s .2s;
    transform-style: preserve-3d;
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
    transform: rotateY( 180deg);
}

.deck .card.show {
    font-size: 33px;
    transition: transform .5s, font-size .2s .2s, background .5s .2s;
}


/* }/ */

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    /* transform: rotateY( 180deg);
    transition: background .2s 0s; */
    animation: bounceIn 450ms linear forwards;
    ;
}

@keyframes bounceIn {
    0% {
        /* opacity: 0; */
        transform: scale(1);
    }
    50% {
        /* opacity: 0.9; */
        transform: scale(1.1);
    }
    80% {
        /* opacity: 1; */
        transform: scale(0.89);
    }
    100% {
        /* opacity: 1; */
        transform: scale(1);
    }
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.whiteStar li:nth-child(1) i.fa.fa-star:before,
.whiteStar2 li:nth-child(2) i.fa.fa-star:before,
.whiteStar3 li:nth-child(3) i.fa.fa-star:before {
    content: "\f006";
}

.winMessage {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    top: 0;
    padding-top: 20%;
    display: none
}

button {
    background: #02ccba;
    padding: 5px 15px;
    border: none;
    color: #fff;
    cursor: pointer
}